@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@media (max-width: 600px) {

    /* style appliqué aux téléphones mobiles */
    body {
        /* padding: 1rem; */
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Josefin Sans';
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    color: hsl(0, 6%, 24%);
    margin: 0;
    /* padding: 2rem; */
}

.entete {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
  background-color: white;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.entete img {
  width: 120px;
}

.img-banner img {
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem;
}


/* .entete {
    margin: 0;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    img {
        width: 120px;
    }
} */


.text-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
h1 {
    font-size: 30pxpx;
    font-weight: 600;
    padding-bottom: 1rem;
}

span {
    color: hsl(0, 36%, 70%);
}

p {
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5rem;
    color: hsl(0, 36%, 70%);
}
}


footer {

}

/* p {
    font-family: 'Josefin Sans';
    font-size: 16px;
    color: black;
} */